@font-face {
  font-family: Matrix;
  src: url('./fonts/matrix-code.woff') format('woff'),
       url('./fonts/matrix-code.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background: #010101;
}
